<ul class="nav__list">
	<% links.forEach(link => { %>
		<%- 
			`
			<li class="nav__item">
				<a class="nav__link ${link.isRed ? '_red' : ''}"  href="${link.href}"  data-href="${link.href}">
					<span class="nav__icon ${link.icon}"></span>
					<span class="nav__label">${link.label}</span>
				</a>
			</li>
			`
		%>
	<% }) %>
</ul>
