<nav class="nav">
	<ul class="nav__list">
		<% links.map(function(link){ %>
			<%- `<li class="nav__item"><a href="${link.route}" class="nav__link">${link.textContetn}</a></li>` %>
		<% }) %>
	</ul>
</nav>
