<% 
const getShipNav = (value) => {
  return `
    <nav class="ships__nav" data-nav="operators">
      <span class="ships__value" data-operators="value">${value}</span>
      <button class="ships__btn" data-operators="plus">+</button>
      <button class="ships__btn _red" data-operators="minus">-</button>
    </nav>
  `
}
%> 

<ul class="ships__list">
  <% ships.forEach(ship => { %>
    <%- 
      `
      <li class="ships__item">
        <span class="ships__icon ${ship.icon}"></span>
        ${ship.value ? getShipNav(ship.value) : ''}
      </li>
      `
    %>
  <% }) %>
</ul>