<% 
const getShipNav = (id) => {
  return `
    <form class="ships__form" data-form="ships" id="${id}">
      <input class="ships__value" name="value" type="tel" value="1" readonly />
      <button class="ships__btn" name="plus">+</button>
      <button class="ships__btn _red" name="minus">-</button>
    </form>
  `
}
%>

<ul class="ships__list">
  <% ships.forEach(ship => { %>
    <%- 
      `
      <li class="ships__item">
        <span class="ships__icon ${ship.icon}"></span>
        ${ship.id ? getShipNav(ship.id) : ''}
      </li>
      `
    %>
  <% }) %>
</ul>