.card {
	border-radius: calc($base * 0.4);
	.card__title {
		margin: 0 0 $sizeMD 0;
	}
	.card__cover {
		position: relative;
		padding: $sizeMD;
		background-color: $transparentSecondaryColor;
	}
	.card__range {
		width: 100%;
		margin: 0 0 $sizeLG 0;
		@include castomRange;
	}
	.card__label {
		@include center;
		// z-index: ;
	}
	// .card__field {
	// }
	// .card__ships {
	// }
	@media screen and (min-width: calc($breackpointMDMin * 1px)) {
		@include center;
		width: 60%;
	}
	@media screen and (max-width: calc($breackpointSMMax * 1px)) {
		margin: $sizeLG 0 0 0;
	}
}
