.card {
	border-radius: calc($base * 0.4);
	.card__header {
		@include flex(center, space-between)
	}
	.card__title {
		margin: 0 0 $sizeMD 0;
	}
	.card__btn {
		@include size(50, 50);
		@include flex(center, center);
		font-size: $sizeSM;
		color: $primaryColor;
		background-color: $secondaryColor;
		border: calc($base * 0.2) solid $primaryColor;
		border-radius: calc($base * 0.4);
		transition: $delay;
		cursor: pointer;
		&._disable {
			pointer-events: none;
			opacity: 0.5;
		}
		// ._icon-change {
		// }
		@media screen and (hover: hover) {
			&:hover {
				border-radius: 50%;
			}
		}
		&:active {
			color: $secondaryColor;
			background-color: $primaryColor;
		}
	}
	.card__cover {
		position: relative;
		padding: $sizeMD;
		background-color: $lightSecondaryColor;
	}
	.card__range {
		width: 100%;
		margin: 0 0 $sizeLG 0;
		@include castomRange;
	}
	.card__label {
		@include center;
		// z-index: ;
	}
	// .card__field {
	// }
	// .card__ships {
	// }
	@media screen and (min-width: calc($breackpointMDMin * 1px)) {
		@include center;
		width: 60%;
	}
	@media screen and (max-width: calc($breackpointSMMax * 1px)) {
		margin: $sizeLG 0 0 0;
	}
}
