.field {
	position: relative;
	@include flex(center, flex-end, row, wrap);
	@include size(240, 240);
	margin: 0 auto;
	cursor: pointer;
	.field__draw {
		width: 100%;
		height: 100%;
		pointer-events: none;
	}
	.field__mark {
		position: absolute;
		@include flex(center, center);
		transition: $delay;
		pointer-events: none;
		&._icon-okMark {
			color: $lightPrimaryColor;
		}
		&._icon-crossMark {
			color: $errorColor;
		}
		&._tagged {
			color: $primaryColor;
		}
		&._hide {
			transform: scale(0);
		}
	}
	.field__ship {
		position: absolute;
		@include flex(center, center);
		color: $primaryColor;
		background-color: $transparentPrimaryColor;
		transition: $delay;
		pointer-events: none;
		// &._icon-shipFour {
		// }
		// &._icon-shipThree {
		// }
		// &._icon-shipTwo {
		// }
		// &._icon-shipOne {
		// }
		&._hide {
			transform: scale(0);
		}
	}
}
