.nav {
	.nav__list {
		@include flex(center, space-between, row, wrap);
	}
	.nav__item {
		@media screen and (hover: hover) {
			&:hover {
				.nav__link {
					border-radius: 50%;
				}
				.nav__label {
					opacity: 1;
				}
			}
		}
		&:active {
			.nav__link {
				color: $secondaryColor;
				background-color: $primaryColor;
				&._red {
					background-color: $errorColor;
				}
			}
		}
	}
	.nav__link {
		position: relative;
		@include flex(center, center);
		@include size(120, 120);
		color: $primaryColor;
		background-color: $secondaryColor;
		border: calc($base * 0.2) solid $primaryColor;
		border-radius: calc($base * 0.4);
		transition: $delay;
		// &._icon-save {
		// }
		// &._icon-bot {
		// }
		// &.__icon-friend {
		// }
		// &._icon-stats {
		// }
		// &._icon-leftArrow {
		// }
		// &.__icon-rightArrow {
		// }
		// &.__icon-logOff {
		// }
		// &._icon-change {
		// }
		&._red {
			color: $errorColor;
			border-color: $errorColor;
		}
	}
	.nav__icon {
		&::before {
			font-size: $sizeXL;
		}
	}
	.nav__label {
		position: absolute;
    top: calc(100% + ($base * 1));
		left: 50%;
		transform: translate(-50%, 0);
		width: 90%;
		margin: 0 auto;
		text-align: center;
		font-size: $sizeSM;
		text-transform: uppercase;
		transition: $delay;
    pointer-events: none;
		@media screen and (hover: hover) {
			opacity: 0;
		}
		@media screen and (hover: none) {
			opacity: 1;
		}
	}
}
