.position {
  .position__body {
    @media screen and (min-width: calc($breackpointMDMin * 1px)) {
      position: relative;
    }
  }
  // .position__nav {
  // }
  // .position__card {
  // }
  .position__title {
    margin: 0 0 $sizeMD 0;
  }
  .position__cover {
    padding: $sizeMD;
    background-color: $transparentSecondaryColor;
  }
  // .position__field {
  // }
  // .position__ships {
  // }
}