.position {
  .position__body {
    @media screen and (min-width: calc($breackpointMDMin * 1px)) {
      position: relative;
    }
  }
  // .position__nav {
  // }
  .position__card {
    border-radius: calc($base * 0.4);
    @media screen and (min-width: calc($breackpointMDMin * 1px)) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
		}
    @media screen and (max-width: calc($breackpointSMMax * 1px)) {
      @include size(748, 358, $breackpointSMMax, 556);
			margin: $sizeLG 0 0 0;
		}
  }
  .position__title {
    margin: 0 0 $sizeMD 0;
  }
  .position__cover {
    padding: $sizeMD;
    background-color: $transparentSecondaryColor;
  }
  // .position__field {
  // }
  // .position__ships {
  // }
}