.ships {
	// .ships__list {
	// }
	&__item {
		user-select: none;
		transition: $delay;
		&._hide {
			.ships__icon {
				&::before {
					font-size: 0px;
				}
			}
		}
		&._disable {
			opacity: 0.2;
			pointer-events: none;
		}
		&._selected {
			background-color: $transparentPrimaryColor;
			// position: absolute;
			// .ships__icon {
			// 	&::before {
			// 		// font-size: 24px;
			// 	}
			// }
		}
	}
	&__icon {
		color: $primaryColor;
		pointer-events: none;
		&::before {
			font-size: $sizeXXL;
			transition: $delay;
		}
		// &._icon-shipFour {
		// }
		// &._icon-shipThree {
		// }
		// &._icon-shipTwo {
		// }
		// &._icon-shipOne {
		// }
	}
	.ships__form {
		@include flex(center, flex-start);
		@include removeMR;
	}
	.ships__value {
		@include size(50, 50);
		margin: 0 $sizeLG 0 0;
		font-size: $sizeMD;
		text-align: center;
		background-color: $transparent;
		border: none;
		outline: none;
		cursor: default;
	}
	.ships__btn {
		@include size(50, 50);
		margin: 0 $sizeXS 0 0;
		font-size: $sizeXL;
		color: $primaryColor;
		background-color: $secondaryColor;
		border: calc($base * 0.2) solid $primaryColor;
		border-radius: calc($base * 0.4);
		transition: $delay;
		cursor: pointer;
		&._red {
			color: $errorColor;
			border-color: $errorColor;
		}
		&._disable {
			pointer-events: none;
			opacity: 0.5;
		}
		@media screen and (hover: hover) {
			&:hover {
				border-radius: 50%;
			}
		}
		&:active {
			color: $secondaryColor;
			background-color: $primaryColor;
			&._red {
				background-color: $errorColor;
			}
		}
	}
	&:not(._line) {
		.ships__list {
			@include removeMB;
		}
		.ships__item {
			@include flex(center, space-between);
			margin: 0 0 $sizeMD 0;
		}
	}
	&._line {
		.ships__list {
			@include flex(center, space-between);
			max-width: 100%;
			padding: $sizeMD 0;
			overflow: auto;
			@include removeMR;
			@include castomScrol;
		}
		.ships__item {
			margin: 0 $sizeMD 0 0;
		}
	}
}
