.size {
	.size__body {
		@media screen and (min-width: calc($breackpointMDMin * 1px)) {
			position: relative;
		}
	}
	// .size__nav {
	// }
	.size__card {
		padding: $sizeMD;
		background-color: $transparentSecondaryColor;
		border-radius: calc($base * 0.4);
		@media screen and (min-width: calc($breackpointMDMin * 1px)) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 60%;
		}
		@media screen and (max-width: calc($breackpointSMMax * 1px)) {
			position: relative;
			margin: $sizeLG 0 0 0;
		}
	}
	.size__range {
		width: 100%;
		margin: 0 0 $sizeLG 0;
		@include castomRange;
	}
	.size__cover {
		position: absolute;
		bottom: $sizeXS;
		left: 50%;
		transform: translate(-50%, 0);
		width: 100%;
		padding: $sizeMD;
		background-color: $transparentSecondaryColor;
		opacity: 0;
		transition: $delay;
		pointer-events: none;
	}
	.size__label {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: 'Roboto-Bold';
		font-size: $sizeXL;
		color: $primaryColor;
	}
	// .size__field {
	// }
	// .size__ships {
	// }
	&._resize {
		.size__cover {
			opacity: 1;
			pointer-events: all;
		}
	}
}
