.size {
	// .size__body {
	// }
	// .size__nav {
	// }
	.size__card {
		padding: $sizeMD;
		background-color: $lightSecondaryColor;
		.card__cover {
			position: absolute;
			left: 50%;
			bottom: 0;
			bottom: 0;
			transform: translate(-50%, 0);
			width: 100%;
			opacity: 0;
			transition: $delay;
			pointer-events: none;
		}
		@media screen and (max-width: calc($breackpointSMMax * 1px)) {
			position: relative;
		}
	}
	&._resize {
		.card__cover {
			opacity: 1;
			pointer-events: all;
		}
	}
}
