.stats {
	.stats__body {
		@include flex(center, space-between, row, wrap);
	}
	// .stats__nav {
	// }
	.stats__list {
		@include removeMB;
	}
	.stats__item {
		@include flex(center, space-between);
    margin: 0 0 $sizeMD 0;
		font-size: $sizeXL;
		color: $primaryColor;
		user-select: none;
		// &._icon-like {
		// }
		// &._icon-dislike {
		// }
	}
	.stats__label {
		margin: 0 $sizeXXL;
		font-size: $sizeMD;
		text-transform: capitalize;
		color: $defaultColor;
	}
	// .stats__value {
	// }
}
