<%
const startLinks = [
	{ textContetn: 'Playing with a bot', icon: '_icon-bot' }, 
	{ textContetn: 'Play with a friend', icon: '_icon-friend' },
	{ textContetn: 'Statistics', icon: '_icon-statistics' }
]
const statisticsLinks = [
	{ textContetn: 'Back', icon: '_icon-prev' }, 
	// { textContetn: 'Wins', icon: '_icon-like' },
	// { textContetn: 'Losses', icon: '_icon-dislike' }
]
%>

<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head', {title: 'sea-battle'}) %>
	</head>
	<body>
		<div class="wrapper">
			<h1 class="title">
				sea-battle
			</h1>
			<div class="start screen">
				<div class="start__body body">
					<%- include('./partials/nav', {links: startLinks}) %>
				</div>
			</div>
			<div class="statistics screen">
				<div class="statistics__body body">
					<%- include('./partials/nav', {links: statisticsLinks}) %>
					<ul class="statistics__list">
						<li class="statistics__item _icon-like">
							<spna class="statistics__label">Wins:</spna>
							<span class="statistics__value">2</span>
						</li>
						<li class="statistics__item _icon-dislike">
							<spna class="statistics__label">Losses:</spna>
							<span class="statistics__value">2</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
