<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head') %>
	</head>
	<body>
		<%- include('./partials/nav', { links: [{ textContetn: 'back', route: '/parameters/size' }, { textContetn: 'Continue', route: '/parameters/mode' }] }) %>
	</body>
</html>
