.wrapper {
	overflow: hidden;
}
._screen {
	@include flex(center, center);
	width: 100vw;
	height: 100vh;
}
._body {
  position: relative;
	width: $maxWidth;
	max-width: $maxWidth;
	margin: 0 auto;
	padding: $sizeLG $sizeXS;
	background-color: $secondaryColor;
}
