.wrapper {
	overflow: hidden;
}
._screen {
	@include flex(center, center);
	width: 100vw;
	height: 100vh;
}
._body {
  position: relative;
	width: $maxWidth;
	max-width: $maxWidth;
	margin: 0 auto;
	padding: $sizeXS;
	background-color: $secondaryColor;
}
._title {
	font-family: 'Roboto-Bold';
	font-size: $sizeXL;
	text-align: center;
	text-transform: uppercase;
	color: $primaryColor;
}