body {
	// overflow: hidden;
	transition: $longDelay;
}
.wrapper {
	overflow: hidden;
}
._screen {
	@include flex(center, center);
	width: 100vw;
	height: 100vh;
}
._body {
	position: relative;
	width: $maxWidth;
	margin: 0 auto;	
	padding: $sizeXS;
	background-color: $secondaryColor;
}
._title {
	font-family: $secondaryFont;
	font-size: $sizeXL;
	text-align: center;
	text-transform: uppercase;
	color: $primaryColor;
}
._value {
	text-align: center;
	background-color: $transparent;
	border: none;
	outline: none;
	cursor: default;
}
._icon {
	line-height: 0;
	&::before {
		font-size: inherit;
	}
}
._square-btn {
	@include flex(center, center);
	color: $primaryColor;
	border: $thinBorder $primaryColor;
	border-radius: $base * 0.4;
	transition: $delay;
	@media screen and (hover: hover) {
		&:hover {
			border-radius: 50%;
		}
	}
	&:active {
		color: $secondaryColor;
		background-color: $primaryColor;
	}
}
._red {
	color: $errorColor;
	border: $thinBorder $errorColor;
	&:active {
		background-color: $errorColor;
	}
}
._disable {
	opacity: 0.2;
	pointer-events: none;
	cursor: not-allowed;
}
._hide {
	opacity: 0;
}
