$transparent: transparent;
// $whiteColor: #ffffff;
$balckColor: #000000;
$errorColor: #d04840;
$primaryColor: #256696;
$secondaryColor: #ffffff;
$transparentPrimaryColor: #a8c6db;
$transparentSecondaryColor: #eeeeee;
// $transparentBackgroundPrimaryColor: #ffffff;
// $textPrimaryColor: #1d2310;
// $textSecondaryColor: #292b27;
$backgroundPrimaryColor: #ffffff;
// $backgroundSecondaryColor: #f5f8fe;

$delay: 0.2s;
$longDelay: 0.6s ease-in-out;

$breackpointXSMin: 0px;
$breackpointXSMax: 576px;
$breackpointSMMin: $breackpointXSMax + 1px; // 577px
$breackpointSMMax: 768px;
$breackpointMDMin: $breackpointSMMax + 1px; // 769px
$breackpointMDMax: 992px;
$breackpointLGMin: $breackpointMDMax + 1px; // 993px
$breackpointLGMax: 1200px;
$breackpointXLMin: $breackpointLGMax + 1px; // 1201px
$breackpointXLMax: 1400px;
$breackpointXXLMin: $breackpointXLMax + 1; // 1401px

// @media screen and (hover: hover) {}
// @media screen and (hover: none) {}
// @media screen and (max-width: $breackpointXSMax) {}
// @media screen and (min-width: $breackpointSMMin) {}
// @media screen and (max-width: $breackpointSMMax) {}
// @media screen and (min-width: $breackpointMDMin) {}
// @media screen and (max-width: $breackpointMDMax) {}
// @media screen and (min-width: $breackpointLGMin) {}
// @media screen and (max-width: $breackpointLGMax) {}
// @media screen and (min-width: $breackpointXLMin) {}
// @media screen and (max-width: $breackpointXLMax) {}
// @media screen and (min-width: $breackpointXXLMin) {}

@mixin removeMB {
	& > :last-child {
		margin-bottom: 0;
	}
}
@mixin removeMR {
	& > :last-child {
		margin-right: 0;
	}
}
@mixin flex($align-items: center, $justify-content: center, $flex-direction: row, $flex-wrap: nowrap) {
	display: flex;
	align-items: $align-items;
	justify-content: $justify-content;
	flex-direction: $flex-direction;
	flex-wrap: $flex-wrap;
}

// ----- fonts //
@import './fonts';
// fonts ----- //

// ----- icons //
@import './icons';
// icons ----- //

// ----- nav //
@import './components/nav';
// nav ----- //

// ----- statistics //
@import './components/statistics';
// statistics ----- //

// ----- size //
@import './components/size'; 
// size ----- //

html {
	font-family: 'Roboto-Regular';
	font-size: 10px;
	color: $balckColor;
	@media screen and (max-width: $breackpointXSMax) {
		font-size: calc(0px + 10 * (100vw / 576));
	}
}
body {
	// overflow-y: hidden;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.wrapper {
}
.title {
	text-align: center;
	font-family: 'Roboto-Thin';
	font-size: 5rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem
}
._screen {
	@include flex(center, center);
	width: 100vw;
	height: 100vh;
}
._body {
	background-color: $transparentSecondaryColor;
	width: 576px;
	margin: 0 auto;
	padding: 0 10px;
}
