@font-face {
  font-family: 'Roboto-Bold';
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'icons';
  src: url("./assets/icons/icons.eot?9dewlz");
  src: url("./assets/icons/icons.eot?9dewlz#iefix") format("embedded-opentype"), url("./assets/icons/icons.ttf?9dewlz") format("truetype"), url("./assets/icons/icons.woff?9dewlz") format("woff"), url("./assets/icons/icons.svg?9dewlz#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before, [class*=" _icon-"]::before {
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-shipLogo:before {
  content: "\e900";
}

._icon-shipOne:before {
  content: "\e901";
}

._icon-shipTwo:before {
  content: "\e902";
}

._icon-shipThree:before {
  content: "\e903";
}

._icon-shipFour:before {
  content: "\e904";
}

._icon-save:before {
  content: "\e905";
}

._icon-bot:before {
  content: "\e906";
}

._icon-friend:before {
  content: "\e907";
}

._icon-stats:before {
  content: "\e908";
}

._icon-leftArrow:before {
  content: "\e909";
}

._icon-rightArrow:before {
  content: "\e90a";
}

._icon-logOff:before {
  content: "\e90f";
}

._icon-change:before {
  content: "\e910";
}

._icon-like:before {
  content: "\e90b";
}

._icon-dislike:before {
  content: "\e90c";
}

._icon-okMark:before {
  content: "\e90d";
}

._icon-crossMark:before {
  content: "\e90e";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Roboto-Regular";
  font-size: 10px;
  color: #000000;
}

@media screen and (max-width: 576px) {
  html,
  body {
    font-size: calc(0px + 10 * (100vw / $breackpointXSMax));
  }
}

h1, h2, h3, h4.h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.wrapper {
  overflow: hidden;
}

._screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
}

._body {
  position: relative;
  width: 800px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #ffffff;
}

._title {
  font-family: "Roboto-Bold";
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  color: #256696;
}

._value {
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: default;
}

._icon {
  line-height: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  pointer-events: none;
}

._icon::before {
  font-size: inherit;
}

._square-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #256696;
  background-color: #ffffff;
  border: 0.2rem solid #256696;
  border-radius: 0.4rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (hover: hover) {
  ._square-btn:hover {
    border-radius: 50%;
  }
}

._square-btn:active {
  color: #ffffff;
  background-color: #256696;
}

._red {
  color: #d04840;
  border: 0.2rem solid #d04840;
}

._red:active {
  background-color: #d04840;
}

._selected {
  background-color: #a8c6db30;
}

._mobile {
  color: #a8c6db;
}

._disable {
  opacity: 0.2;
  pointer-events: none;
  cursor: not-allowed;
}

._hide {
  opacity: 0;
}

._remove {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__item {
  position: relative;
}

@media screen and (hover: hover) {
  .nav__item:hover .nav__label {
    opacity: 1;
  }
}

@media screen and (min-width: calc($breackpointSMMin * 1px)) {
  .nav__link {
    width: calc($width * 1px);
    height: calc($heigth * 1px);
  }
}

@media screen and (max-width: calc($breackpointXSMax * 1px)) {
  .nav__link {
    width: calc(0px + $lastWidth * (100vw / $breackpointXSMax));
    height: calc(0px + $lastHeigth * (100vw / $breackpointXSMax));
  }
}

.nav__icon {
  font-size: 4rem;
}

.nav__label {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  pointer-events: none;
}

@media screen and (hover: hover) {
  .nav__label {
    opacity: 0;
  }
}

@media screen and (hover: none) {
  .nav__label {
    opacity: 1;
  }
}

@media screen and (min-width: 769px) {
  .nav__label {
    top: calc(100% + ($base * 1));
  }
}

@media screen and (max-width: 768px) {
  .nav__label {
    bottom: calc(100% + ($base * 1));
  }
}

.card {
  border-radius: calc($base * 0.4);
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0 0 2rem 0;
}

.card__header .card__title {
  width: 85%;
  padding: 0;
  text-align: start;
}

.card__header .card__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
}

.card__title {
  padding: 0 0 2rem 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (min-width: calc($breackpointSMMin * 1px)) {
  .card__btn {
    width: calc($width * 1px);
    height: calc($heigth * 1px);
  }
}

@media screen and (max-width: calc($breackpointXSMax * 1px)) {
  .card__btn {
    width: calc(0px + $lastWidth * (100vw / $breackpointXSMax));
    height: calc(0px + $lastHeigth * (100vw / $breackpointXSMax));
  }
}

.card__icon {
  font-size: 1.5rem;
}

.card__range_field {
  width: 100%;
  margin: 0 0 3rem 0;
}

.card__range_field {
  height: 1rem;
  background-color: #a8c6db;
  border: calc($base * 0.2) solid #256696;
  border-radius: 1rem;
  cursor: e-resize;
  -webkit-appearance: none;
}

.card__range_field::-webkit-slider-thumb {
  background-color: #256696;
  border-radius: 50%;
  -webkit-appearance: none;
}

@media screen and (min-width: calc($breackpointSMMin * 1px)) {
  .card__range_field::-webkit-slider-thumb {
    width: calc($width * 1px);
    height: calc($heigth * 1px);
  }
}

@media screen and (max-width: calc($breackpointXSMax * 1px)) {
  .card__range_field::-webkit-slider-thumb {
    width: calc(0px + $lastWidth * (100vw / $breackpointXSMax));
    height: calc(0px + $lastHeigth * (100vw / $breackpointXSMax));
  }
}

@media screen and (min-width: calc($breackpointMDMin * 1px)) {
  .card {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 60%;
  }
}

@media screen and (max-width: calc($breackpointSMMax * 1px)) {
  .card {
    margin: 3rem 0 0 0;
  }
}

.ship__item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.ship__icon {
  font-size: 5rem;
  color: #256696;
}

.ship__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.ship__form > :last-child {
  margin-right: 0;
}

.ship__value {
  margin: 0 3rem 0 0;
  font-size: 2rem;
}

@media screen and (min-width: calc($breackpointSMMin * 1px)) {
  .ship__value {
    width: calc($width * 1px);
    height: calc($heigth * 1px);
  }
}

@media screen and (max-width: calc($breackpointXSMax * 1px)) {
  .ship__value {
    width: calc(0px + $lastWidth * (100vw / $breackpointXSMax));
    height: calc(0px + $lastHeigth * (100vw / $breackpointXSMax));
  }
}

.ship__btn {
  margin: 0 1rem 0 0;
  font-size: 4rem;
}

@media screen and (min-width: calc($breackpointSMMin * 1px)) {
  .ship__btn {
    width: calc($width * 1px);
    height: calc($heigth * 1px);
  }
}

@media screen and (max-width: calc($breackpointXSMax * 1px)) {
  .ship__btn {
    width: calc(0px + $lastWidth * (100vw / $breackpointXSMax));
    height: calc(0px + $lastHeigth * (100vw / $breackpointXSMax));
  }
}

.ship:not(._line) .ship__list > :last-child {
  margin-bottom: 0;
}

.ship:not(._line) .ship__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 0 2rem 0;
}

.ship._line .ship__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  max-width: 100%;
  padding: 2rem 0;
  overflow: auto;
}

.ship._line .ship__list > :last-child {
  margin-right: 0;
}

.ship._line .ship__list::-webkit-scrollbar {
  height: calc($base * 0.4) !important;
  width: calc($base * 0.4) !important;
}

.ship._line .ship__list::-webkit-scrollbar-track {
  background: #a8c6db;
  border-radius: 1rem;
}

.ship._line .ship__list::-webkit-scrollbar-thumb {
  background: #256696;
  border-radius: 1rem;
}

.ship._line .ship__item {
  margin: 0 2rem 0 0;
}

.field {
  padding: 2rem;
  background-color: #fafafa;
}

.field__picture {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  cursor: pointer;
}

@media screen and (min-width: calc($breackpointSMMin * 1px)) {
  .field__picture {
    width: calc($width * 1px);
    height: calc($heigth * 1px);
  }
}

@media screen and (max-width: calc($breackpointXSMax * 1px)) {
  .field__picture {
    width: calc(0px + $lastWidth * (100vw / $breackpointXSMax));
    height: calc(0px + $lastHeigth * (100vw / $breackpointXSMax));
  }
}

.field__picture.no-move {
  pointer-events: none;
}

.field__canvas {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.field__label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.field__mark {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.field__mark:not(._mobile)._icon-okMark {
  color: #256696;
}

.field__mark:not(._mobile)._icon-crossMark {
  color: #d04840;
}

.field__ship {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #a8c6db30;
}

.field__ship:not(._mobile) {
  color: #256696;
  pointer-events: all;
}

.modal {
  position: absolute;
  top: -100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 0 auto;
}

.modal__body {
  padding: 1rem, 2rem;
}

.modal__description {
  font-size: 1.5rem;
}

@media screen and (min-width: calc($breackpointSMMin * 1px)) {
  .modal__btn {
    width: calc($width * 1px);
    height: calc($heigth * 1px);
  }
}

@media screen and (max-width: calc($breackpointXSMax * 1px)) {
  .modal__btn {
    width: calc(0px + $lastWidth * (100vw / $breackpointXSMax));
    height: calc(0px + $lastHeigth * (100vw / $breackpointXSMax));
  }
}

.modal__icon {
  font-size: 2rem;
}

@media screen and (min-width: 577px) {
  .modal {
    max-width: 500px;
  }
}

@media screen and (max-width: 576px) {
  .modal {
    max-width: 90%;
  }
}

.modal._show {
  top: 5%;
}

.stats__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stats__list > :last-child {
  margin-bottom: 0;
}

.stats__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 0 2rem 0;
  font-size: 4rem;
  color: #256696;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.stats__label {
  margin: 0 5rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #000000;
}

.stats__value {
  color: #256696;
}

@media screen and (min-width: calc($breackpointSMMin * 1px)) {
  .stats__value {
    width: calc($width * 1px);
    height: calc($heigth * 1px);
  }
}

@media screen and (max-width: calc($breackpointXSMax * 1px)) {
  .stats__value {
    width: calc(0px + $lastWidth * (100vw / $breackpointXSMax));
    height: calc(0px + $lastHeigth * (100vw / $breackpointXSMax));
  }
}

.size__card {
  padding: 2rem;
  background-color: #fafafa;
}

.size__card .card__field {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  pointer-events: none;
}

@media screen and (max-width: calc($breackpointSMMax * 1px)) {
  .size__card {
    position: relative;
  }
}

.size._resize .size__card .card__field {
  opacity: 1;
}

@media screen and (max-width: calc($breackpointSMMax * 1px)) and (min-width: calc($breackpointSMMin * 1px)) {
  .position__card {
    width: calc($width * 1px);
    height: calc($heigth * 1px);
  }
}

@media screen and (max-width: calc($breackpointSMMax * 1px)) and (max-width: calc($breackpoint * 1px)) {
  .position__card {
    width: calc( ($lastWidth * 1px) + ($width - $lastWidth) * ((100vw - ($breackpointXSMax * 1px)) / ($breackpoint - $breackpointXSMax)));
    height: calc( ($lastHeigth * 1px) + ($heigth - $lastHeigth) * ((100vw - $breackpointXSMax * 1px) / ($breackpoint - $breackpointXSMax)));
  }
}

@media screen and (max-width: calc($breackpointSMMax * 1px)) and (max-width: calc($breackpointXSMax * 1px)) {
  .position__card {
    width: calc(0px + $lastWidth * (100vw / $breackpointXSMax));
    height: calc(0px + $lastHeigth * (100vw / $breackpointXSMax));
  }
}

.battle__card .card__field > :last-child {
  margin-bottom: 0;
}

@media screen and (max-width: calc($breackpointSMMax * 1px)) {
  .battle__card .card__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: calc($breackpointMDMin * 1px)) {
  .battle__card .field__picture {
    margin: 0 auto 2rem auto;
  }
}
/*# sourceMappingURL=index.css.map */